body {
    /* background-color: #F2EEEA; */
    font-size: 1.1rem;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight: 300;
    margin: 30px 0 0 -10px;
}

h5 {
    font-family: 'Crimson Text', serif;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.3em;
}

.logo img {
    max-width: 300px;
}

.intro {
    min-height: 100vh;
}

.button {
    background-color: #111;
    color: #fff;
    border: 0;
}
input, .button {
    height: 64px;
}
p {
    line-height: 1.5em;
    font-weight: ;
}

p.copyright {
    color: #858585;
    font-size: 1rem;
}

.mailchimp {
	bottom: 20px;
	position: absolute;
}