body {
    font-family: sans-serif;
    color: #111;
    text-align: center;
    background: #fff;
}

.wrapper {
    min-height: 90vh;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    align-items: center;
}

h1 {
    font-weight: 500;
    line-height: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    padding-bottom: 2rem;
}

h2 {
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    margin-left: 4rem;
}

a {
    color: #858585;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

.logo {
    height: 100%;
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
    align-items: center;

img {
    max-width: 300px;
    margin-right: 3rem;
}

}

.content {
    flex-grow: 0;
    padding-bottom: 40px;
    width: 50%;
}

.mailchimp form {
    padding: 20px;
}

input, .button {
    text-align: left;
    border: 0;
    font-size: 1rem;
    padding: 10px;
}

input {
    border-bottom: 1px solid #111;
    padding-left: 0;
}

.button {
    background: #fff;
    margin-left: 10px;
}

.copyright {
    font-size: 0.9rem;
    color: #a7a7a7 !important;
}